$font-small: 13px;
$font-normal: 16px;
$font-medium: 18px;
$font-high: 22px;
$font-large: 25px;

$shadow-dark: 0px 0px 5px rgba(#000, 0.3);

$color-primary: #00a2ff;
$color-success: #04d10e;
$color-danger: #fa2525;
