$font-mirco: 11px;
$font-small: 12px;
$font-default: 14px;
$font-medium: 16px;
$font-high: 18px;

$base-font-family: 'Montserrat-Regular';
$outlay-font-family: 'Inter-Regular';

$shadow-dark: 0px 0px 5px rgba(#000, 0.3);

$color-dark: #242536;
$color-darker: #1c1d2a;
$color-light: #fff;
$color-primary: #00a2ff;
$color-success: #22C55E;
$color-danger: #fa2525;

$table-color-room: #4a5356;
$table-category-color: #268aad;
$table-subcategory-color: #57abc8;
